anthropic==0.38.0
httpx==0.27.2
tokenizers==0.20.3
boto3==1.34.122
botocore==1.34.122
ipython==8.2.0
langchain==0.2.5
langchain-aws==0.1.6
langchain-community==0.2.5
matplotlib==3.7.0
requests==2.32.3
streamlit==1.35.0
urllib3==1.26.18
opensearch-py==2.6.0